//@import "../../../css/montserrat.css";
//@import "../../../css/montserrat-bold.css";

.color {
  width: 281px;
  display: flex;

  &__view {
    width: 70px;
    height: 70px;
    background-color: #1F2041;
    border-radius: 6px;
  }

  &__description {
    margin: 8px 0 0 40px;
  }

  &__name {
    margin: 0;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #1F2041;
  }

  &__code {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #1F2041;
  }
}
